/*
 * alternate custom
 *
 * author: Hajime Nakagama
 *
 */

/* Impoert Original */
@import url(../../../stylesheets/application.css);

/* Body */
body, 
#wrapper
{ 
	background-color:#808F12; 
	font-family: Meiryo UI, verdana, arial, helvetica, sans-serif; 
}

/* link */
a:hover 
{ 
	text-decoration: underline; 
}
a:hover, 
a:active 
{ 
	color: #2A5685; 
}
/* 
 * Top Menu
 *
 */
#top-menu 
{ 
	background-color: #042608; 
	color: #fff; 
	position: relative; 
	padding:2px 10px;
	font-weight: normal;
	font-size: 0.9em; 
	line-height: 18px;
}
#top-menu li a 
{
	font-weight: normal;
}
/*
 * Header
 *
 */
#header 
{ 
	background-color: #2A5C0B; 
	padding: 8px 8px 0px 8px; 
	margin: 0;
	height: 6.5em; 
	font-family: Meiryo UI, Verdana, Arial; font-size: 12px; 
	font-weight: bold; 
}
#header h1 
{ 
	margin: 0 24px; 
}
#header #quick-search 
{ 
	margin: 0 24px; 
}
/*
 * Main Menu
 *
 */
#main-menu 
{
	margin: 0px 24px 0px 24px;
	bottom: 0px;	
	position: absolute;
}
#main-menu li a 
{ 
	padding:2px 4px; 
    border-radius: 3px 3px 0px 0px;
	border-bottom:2px solid #2A5C0B;	
	font-weight:normal;
}
#main-menu li a:hover 
{ 
	background: #808F12; 
	color: #fff; 
	border-bottom:2px solid #808F12;	
	text-decoration: none; 
}
#main-menu li a.selected, 
#main-menu li a.selected:hover 
{ 
	background: #808F12; 
	color: #fff; 
	border-bottom:2px solid #F39800;
}

/* 
 * Main,content 
 *
 */
#main 
{ 
	background: #eee; 
	margin: 8px 24px 0px 24px; 
	border-radius: 10px;
}
#content, 
#main.nosidebar #content 
{ 
	background: #fff; 
	border-radius: 10px;
	border-right: 1px solid #bbb; 
	border-bottom: 1px solid #bbb; 
	-moz-box-shadow: #bbb 1px 1px 2px; 
	-webkit-box-shadow: 1px 1px 2px #bbb; 
	width: auto; 
	overflow: auto; 
}
#content .wiki img 
{ 
	max-width: 98%; 
}
.contextual 
{ 
	font-size: 1.1em; 
}
/* 
 * Side bar
 *
 */
#sidebar 
{ 
	margin-left: 10px; 
	width: auto; 
}
#sidebar a:hover 
{ 
	background-color:#039; 
	color:#fff; 
	text-decoration: none;
}
/* 
 * footer
 *
 */
#footer 
{ 
	border-top: 0px; 
	background:none; 
}
/* 
 * heading
 *
 */
h1,h2,h3,h4
{
	font-family: Meiryo UI, verdana, arial, helvetica, sans-serif; 
}

/* 
 * wiki
 *
 */
.wiki h1
{
	border-bottom:1px solid #999; 
}

/* 
 * Tables List
 *
 */
table.list 
{ 
	border: none; 
}
table.list th 
{ 
	background-color: #fff; 
}
table.list tbody td, 
table.list tbody tr td, 
table.list tbody tr td.checkbox 
{ 
	font-size: 12px; 
	padding:4px 10px 4px 3px; 
}
table.list thead th {
	border: none;
	border-bottom:1px solid #E4E4E4;
	font-size:12px;
	font-weight:normal;
	padding:0pt 3px 3px;
	text-transform:uppercase;
}
table.list tr
{
	border-bottom:1px solid #E4E4E4;
}	
table.list tr a 
{ 
	color: #666;
	font-weight: bold; 
}
tr.priority-5 
{ 
	background: #f44; 
}
tr.priority-4 
{ 
	background: #f77; 
}
tr.priority-3 
{ 
	background: #fbb; 
}
tr.priority-1 
{ 
	background: #9ff; 
}
/* 
 * Fields , textarea
 *
 */
input[type="text"], 
input[type="password"], 
textarea, 
select 
{ 
	padding: 2px; 
	border: 1px 
	solid #d7d7d7; 
}
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
select:focus 
{ 
	border: 1px solid #886; 
}
option 
{ 
	border-bottom: 1px dotted #ddd; 
}
input#issue_subject 
{ 
	font-size: 1.5em; 
	width: 90%; 
}
textarea.wiki-edit 
{ 
	font-family:monospace;
}

/* 
 * input button 
 *
 */
input[type="button"],
input[type="submit"]
{
   font-family: Meiryo UI, verdana, arial, helvetica, sans-serif; 
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   -o-border-radius: 3px;
   -ms-border-radius: 3px;
   border:#aaa 1px solid;
   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
   padding:3px 3px 4px 2px;
   cursor:pointer;
   color:#333;
   font-weight:bold;
   background:#eee;
}
/*
 * Activity
 *
 */
#activity h3
{
	border-bottom:1px solid #999; 	
}
/* 
 * Misc 
 *
 */
.box 
{ 
	background-color: #fffffc; 
}

hr { background:#eee none repeat scroll 0% 0%; }

div.issue
{ 
	background: #FFFFCA; 
}
div.splitcontentleft ol li, 
div.splitcontentleft ul li, 
div.wiki ol li, 
div.wiki ul li 
{ 
	padding: 4px 0; 
}
div.wiki ul.toc li { padding: 0; }
ol li ol li { list-style-type: lower-alpha; }
ol li ol li ol li { list-style-type: lower-roman; }
