@import url(../../../stylesheets/application.css);

#activity h3,
.wiki h1 {
 border-bottom      : 1px solid #999;
}
#content,
#main.nosidebar #content {
 background         : #fff;
 overflow           : auto;
 width              : auto;
}
#content .wiki img {
 max-width          : 98%;
}
#footer {
 border-top         : 0px;
}
#header #quick-search,
#header h1 {
 margin             : 0 24px;
}
#header {
 background         : url(../images/logo.png) no-repeat 25px 10px;
 background-color   : #0a2551;
 font-family        : Meiryo UI, verdana, arial, helvetica, sans-serif;
 font-size          : 12px;
 font-weight        : bold;
 margin             : 0;
 min-height         : 5.8em;
 padding            : 10px 10px 5px 40px;
}
#main {
 background         : #fff;
}
#main-menu {
 bottom             : 0px;
 margin             : 0px 24px 0px 24px;
 position           : absolute;
}
#main-menu li a {
 font-weight        : normal;
 padding            : 5px;
}
#main-menu li a.selected,
#main-menu li a.selected:hover {
 border-radius      : 5px 5px 0 0;
 color              : #444;
}
#main-menu li a:hover {
 background-color   : #FFF;
 border-radius      : 5px 5px 0 0;
 color              : #111;
 text-decoration    : none;
}
#sidebar {
 background-color   : #fff;
 margin-left        : 10px;
 width              : 20%;
}
#sidebar a:hover {
 background-color   : #039;
 color              : #fff;
 text-decoration    : none;
}
#top-menu {
 background-color   : #fff;
 color              : #444;
 font-size          : 1.0em;
 line-height        : 18px;
 position           : relative;
 text-decoration    : none;
 -webkit-box-shadow : inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 3px rgba(0,0,0,0.3);
}
#top-menu li a {
 color              : #444;
 font-weight        : normal;
}
#wrapper,
body,
h1,
h2,
h3,
h4 {
 font-family        : Meiryo UI, verdana, arial, helvetica, sans-serif;
}
.box {
 background-color   : #fffffc;
}
.contextuala {
 font-size          : 1.1em;
}
a:active {
 color              : #2A5685;
}
a:hover {
 color              : #2A5685;
 text-decoration    : underline;
}
div.issue {
 background         : #FFFFCA;
}
div.splitcontentleft ol li,
div.splitcontentleft ul li,
div.wiki ol li,
div.wiki ul li {
 padding            : 4px 0;
}
input#issue_subject {
 font-size          : 1.5em;
 width              : 90%;
}
input[type="button"],
input[type="submit"] {
 -webkit-box-shadow : inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
 background         : #eee;
 border             : #aaa 1px solid;
 color              : #333;
 cursor             : pointer;
 font-family        : Meiryo UI, verdana, arial, helvetica, sans-serif;
 padding            : 4px 9px 5px 9px;
}
input[type="password"],
input[type="text"],
select,
textarea {
 border             : 1px solid #d7d7d7;
 padding            : 2px;
}
input[type="password"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
 border             : 1px solid #886;
}
option {
 border-bottom      : 1px dotted #ddd;
}
table.list {
 border             : none;
}
table.list tbody td,
table.list tbody tr td,
table.list tbody tr td.checkbox {
 font-size          : 12px;
 padding            : 4px 10px 4px 3px;
}
table.list th {
 background-color   : #fff;
}
table.list thead th {
 border             : none;
 border-bottom      : 1px solid #E4E4E4;
 font-size          : 12px;
 font-weight        : normal;
 padding            : 0pt 3px 3px;
 text-transform     : uppercase;
}
table.list tr {
 border-bottom      : 1px solid #E4E4E4;
}
table.list tr a {
 color              : #666;
 font-weight        : bold;
}
textarea.wiki-edit {
 font-family        : monospace;
}
tr.priority-1 {
 background         : #9ff;
}
tr.priority-3 {
 background         : #fbb;
}
tr.priority-4 {
 background         : #f77;
}
tr.priority-5 {
 background         : #f44;
}
